body {
  /* tác động lên toàn bộ trang */
  background-color: rgba(201, 229, 241, 0.945);
}
.a1 {
  /* xóa gạch chân */
  /* text-decoration: none; */
  /* màu nền */
  background-color: rgb(226, 255, 192);
  /* bo viền */
  border-radius: 999px;
  /* màu chữ */
  color: rgb(0, 0, 0);
  /* chiều rộng */
  width: 100px;
  /* chiều rộng 4 phía */
  padding: 8px 16px;
  /* căn giữa */
  text-align: center;
  /* sử dụng các thuộc tính */
  display: inline-block;
  margin-top: 30px;
}
/* lớp giả hover, tác động khi di chuột qua phần tử */
.a1:hover {
  background-color: rgb(255, 2, 2);
  color: pink;
}

@keyframes blinker {
  50% {
    color: #07daff;
  }
}
.p1 {
  color: #ff0707;
  animation: blinker 0.7s infinite;
}
